@{
	Layout = "_CleanLayout";
	ViewData["Title"] = "Access denied";
}

<section id="accessDenied">
	<h1>@ViewData["Title"]</h1>
	<a class="btn btn-blue" asp-action="Dashboard" asp-controller="Admin">To dashboard</a>
</section>

