@using WebbApp.ViewModels
@model MemberSignInViewModel 
@{
	Layout = "_CleanLayout";
	ViewData["Title"] = "Log In";
}


<section id="login">

	<h1 class="form-headline">Login</h1>

	<a class="btn btn-grey btn-google" href="#">
		<img src="~/Images/google-icon.svg" alt="google icon">
		<p>Login with Google</p>
	</a>

	<div class="divider">
		<span>OR</span>
	</div>

	@if (!string.IsNullOrEmpty(ViewBag?.ErrorMessage))
	{
		<div class="alert-notification error">
			<p>@ViewBag?.ErrorMessage</p>
		</div>
	}

	<form novalidate method="post" asp-action="SignIn" asp-controller="Auth">
		<input type="hidden" name="returnUrl" value="@ViewBag?.ReturnUrl" />
		<div class="form-group">
			<label asp-for="Email"></label>
			<div class="field-group">
				<input asp-for="Email" />
				<span asp-validation-for="Email"></span>
			</div>
		</div>

		<div class="form-group">
			<label asp-for="Password"></label>
			<div class="field-group">
				<input asp-for="Password" />
				<span asp-validation-for="Password"></span>
			</div>
		</div>


		<div class="checkbox-group">
			<div>
				<input id="remember" type="checkbox" name="remember">
				<label for="remember">Remember me</label>
			</div>
			<a href="#">Forgot Password?</a>
		</div>

		<button class="btn btn-blue btn-submit" type="submit">Log In</button>
	</form>
</section>

@await Html.PartialAsync("Partials/Javascripts/_ValidationScriptsPartial");




