@model MembersViewModel

<div id="addMemberModal" class="modal">
	<div class="modal-content">

		<div class="modal-header">
			<h3>Add Member</h3>
			<button type="button" class="btn-close" data-close="true"><i class="fa-solid fa-xmark"></i></button>
		</div>

		<form novalidate method="post" asp-action="Add" asp-controller="Members" enctype="multipart/form-data" data-modal-form="true">

			<div class="image-previewer circle ">
				<img src="" class="image-preview" />
				<input asp-for="AddMemberForm.MemberImage" class="d-none" accept="image/*" />
			</div>

			<div class="form-group">
				<label asp-for="AddMemberForm.FirstName"></label>
				<div class="field-group">
					<input asp-for="AddMemberForm.FirstName" />
					<span asp-validation-for="AddMemberForm.FirstName"></span>
				</div>
			</div>

			<div class="form-group">
				<label asp-for="AddMemberForm.LastName"></label>
				<div class="field-group">
					<input asp-for="AddMemberForm.LastName" />
					<span asp-validation-for="AddMemberForm.LastName"></span>
				</div>
			</div>

			<div class="form-group">
				<label asp-for="AddMemberForm.Email"></label>
				<div class="field-group">
					<input asp-for="AddMemberForm.Email" />
					<span asp-validation-for="AddMemberForm.Email"></span>
				</div>
			</div>

			<div class="form-group">
				<label asp-for="AddMemberForm.Phone"></label>
				<div class="field-group">
					<input asp-for="AddMemberForm.Phone" />
					<span asp-validation-for="AddMemberForm.Phone"></span>
				</div>
			</div>

			<div class="form-group">
				<label asp-for="AddMemberForm.JobTitle"></label>
				<div class="field-group">
					<input asp-for="AddMemberForm.JobTitle" />
					<span asp-validation-for="AddMemberForm.JobTitle"></span>
				</div>
			</div>

			<div class="form-group">
				<label asp-for="AddMemberForm.StreetName"></label>
				<div class="field-group">
					<input asp-for="AddMemberForm.StreetName" />
					<span asp-validation-for="AddMemberForm.StreetName"></span>
				</div>
			</div>

			<div class="form-group">
				<label asp-for="AddMemberForm.PostalCode"></label>
				<div class="field-group">
					<input asp-for="AddMemberForm.PostalCode" />
					<span asp-validation-for="AddMemberForm.PostalCode"></span>
				</div>
			</div>

			<div class="form-group">
				<label asp-for="AddMemberForm.City"></label>
				<div class="field-group">
					<input asp-for="AddMemberForm.City" />
					<span asp-validation-for="AddMemberForm.City"></span>
				</div>
			</div>

			<div class="form-group">
				<label asp-for="AddMemberForm.DateOfBirth"></label>
				<div class="field-group">
					<input asp-for="AddMemberForm.DateOfBirth" placeholder="Enter date of birth" />
					<span asp-validation-for="AddMemberForm.DateOfBirth"></span>
				</div>
			</div>


			<div class="form-group">
				<label asp-for="AddMemberForm.SelectedRole"></label>
				<select asp-for="AddMemberForm.SelectedRole" asp-items="Model.AvailableRoles">
					<option disabled selected value="">-- Select role --</option>
				</select>
				<span asp-validation-for="AddMemberForm.SelectedRole"></span>
			</div>



			<button class="btn btn-blue btn-submit" type="submit">Create</button>
		</form>

	</div>
</div>


