@model AddMemberViewModel

<div id="addMemberModal" class="modal">
	<div class="modal-content">

		<div class="modal-header">
			<h3>Add Member</h3>
			<button type="button" class="btn-close" data-close="true"><i class="fa-solid fa-xmark"></i></button>
		</div>

		<form novalidate method="post" asp-action="Add" asp-controller="Members" enctype="multipart/form-data" data-modal-form="true">

			<div class="image-previewer circle ">
				<img src="" class="image-preview" />
				<input asp-for="MemberImage" class="d-none" accept="image/*" />
			</div>

			<div class="form-group">
				<label asp-for="FirstName"></label>
				<div class="field-group">
					<input asp-for="FirstName" />
					<span asp-validation-for="FirstName"></span>
				</div>
			</div>

			<div class="form-group">
				<label asp-for="LastName"></label>
				<div class="field-group">
					<input asp-for="LastName" />
					<span asp-validation-for="LastName"></span>
				</div>
			</div>

			<div class="form-group">
				<label asp-for="Email"></label>
				<div class="field-group">
					<input asp-for="Email" />
					<span asp-validation-for="Email"></span>
				</div>
			</div>

			<div class="form-group">
				<label asp-for="Phone"></label>
				<div class="field-group">
					<input asp-for="Phone" />
					<span asp-validation-for="Phone"></span>
				</div>
			</div>

			<div class="form-group">
				<label asp-for="JobTitle"></label>
				<div class="field-group">
					<input asp-for="JobTitle" />
					<span asp-validation-for="JobTitle"></span>
				</div>
			</div>

			<div class="form-group">
				<label asp-for="StreetName"></label>
				<div class="field-group">
					<input asp-for="StreetName" />
					<span asp-validation-for="StreetName"></span>
				</div>
			</div>

			<div class="form-group">
				<label asp-for="PostalCode"></label>
				<div class="field-group">
					<input asp-for="PostalCode" />
					<span asp-validation-for="PostalCode"></span>
				</div>
			</div>

			<div class="form-group">
				<label asp-for="City"></label>
				<div class="field-group">
					<input asp-for="City" />
					<span asp-validation-for="City"></span>
				</div>
			</div>

			<div class="form-group">
				<label asp-for="DateOfBirth"></label>
				<div class="field-group">
					<input asp-for="DateOfBirth" placeholder="Enter date of birth"/>
					<span asp-validation-for="DateOfBirth"></span>
				</div>
			</div>


			<button class="btn btn-blue btn-submit" type="submit">Create</button>
		</form>

	</div>
</div>







	[Display(Name = "Date of Birth", Prompt = "Enter date of birth")]
	[DataType(DataType.Date)]
	public DateTime? DateOfBirth { get; set; }

