@{
	ViewData["Title"] = "Projects";
}

<section id="projects">
	<header class="portal-layout-main-header">
		<h2>Projects</h2>
		<button type="button" data-modal="true" data-target="#addProjectModal" class="btn btn-blue btn-add"><i class="fa-solid fa-plus"></i>Add Project</button>
	</header>
</section>
